html {
	font-family: 'Roboto Mono', monospace;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Roboto Mono', monospace;
	font-size: 2em;
	font-weight: 700;
}

h3 {
	font-family: 'Roboto Mono', monospace;
	font-size: 1.5em;
	font-weight: 700;
}

p {
	font-size: 1.25em;
}

hr {
	margin-top: 0;
	border-style: solid;
}

ul {
	list-style-type: none;
	font-size: 1em;
}

ul a:link {
	text-decoration: none;
	color: black;
}

ul a:visited {
	color: black;
}

header a:link {
	text-decoration: none;
	color: black;
}

header a:visited {
	color: black;
}
