html {
	font-family: 'Roboto Mono', monospace;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Roboto Mono', monospace;
	font-size: 2em;
	font-weight: 700;
}

h3 {
	font-family: 'Roboto Mono', monospace;
	font-size: 1.5em;
	font-weight: 700;
}

p {
	font-size: 1.25em;
}

hr {
	margin-top: 0;
	border-style: solid;
}

ul {
	list-style-type: none;
	font-size: 1em;
}

ul a:link {
	text-decoration: none;
	color: black;
}

ul a:visited {
	color: black;
}

header a:link {
	text-decoration: none;
	color: black;
}

header a:visited {
	color: black;
}

.content {
	animation-duration: 0.75s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		margin-left: 1%;
    width: 100%;
    opacity: 0;
	}

	to {
		margin-left: 0%;
    width: 100%;
	}
}

span.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }
  100% { transform: rotate(  0.0deg) }
}
